
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Template/_LayoutPage1.cshtml";
}

<h2>Cores REAIS Netshoes</h2>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <td>Cores</td>
        </tr>
    </thead>
    <tbody>
        @foreach (string cor in ViewBag.Cores)
        {
            <tr>
                <td>@cor</td>
            </tr>
        }
    </tbody>
</table>

