
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Template/_LayoutPage1.cshtml";
}

<h2>Pagina Inicial</h2>

<div class="text-center">
    <img src="~/WhatsApp Image 2019-09-29 at 05.53.49.jpeg" />
</div>

